*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(12, 25, 49);
}

form{
    margin:auto;
    margin-top: 100px;
    width: clamp(300px , 30% , 500px);
    min-height: 400px;
    background-color: rgb(19, 19, 19);
    border-radius: 40px;
    transition: 0.5s all;
    text-align: center;
    padding-top: 80px ;
}

form:hover{
    box-shadow: 0 0 20px 0px rgba(0, 255, 255, 0.74);  
}

form h1{
    display: block;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}

form input[type="text"],
form input[type="password"]{
    transition: 0.25s all;
    background-color: rgba(253, 245, 230, 0); /*none deyeri yoxdur background-color da?*/
    border: 1px solid rgb(0, 255, 234);
    border-style: solid;
    text-align: center;
    width: 200px;
    height: 40px;
    display: block;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 20px;
    font-size: 15px;
    outline: none; /* inptun uzerinde default olaraq gelirmis, bilmirdim ona gore bayaqdan deli olmusdum, isdediyim dizayn alinmirdi*/
    color: white;

}


form input[type="text"]:focus,
form input[type="password"]:focus{
    width: 300px;
    border-color: rgb(0, 255, 64);

    
}

form input[type="submit"]{
    background-color: rgba(0, 0, 0, 0);
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    border: 1px solid rgb(0, 255, 64);
    border-radius: 20px;
    transition: 0.3s all;
}

form input[type="submit"]:hover{
    background-color: rgb(0, 255, 64);
    text-decoration: underline;
}

